# Standard excludes for Python projects
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]

line-length = 79
indent-width = 4
target-version = "py312"

[lint]
select = [
    "E",
    "W",
    "F",
    "D",
    "C901",
    "I",
    "N",
    "UP",
    "Q",
    "RUF",
    "B",
    "ISC",
]

ignore = [
    "D203",
    "D213",
    "D406",
    "D407",
    "E203",
]

fixable = ["ALL"]
unfixable = []

dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[lint.pydocstyle]
convention = "google"

[lint.pep8-naming]
classmethod-decorators = [
    "classmethod",
    "pyclbr.classmethod",
    "staticmethod"
]

[lint.flake8-quotes]
docstring-quotes = "double"
inline-quotes = "double"

[lint.per-file-ignores]
"__init__.py" = ["F401"]
"tests/*" = ["D"]
"conftest.py" = ["D"]
"test_*.py" = ["D"]

[format]
preview = true
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
